<div class="main site-main">

    <div class="primary content-area">
        <div class="site-content content" role="main" data-portal-component-type="region" data-portal-region="left">
            <div data-th-each="component : ${leftRegion.components}" data-th-remove="tag">
                <div data-portal-component="${component.path}" data-th-remove="tag"/>
            </div>
        </div>
    </div>
    <div class="secondary widget-area" role="complementary" data-portal-component-type="region" data-portal-region="right">
        <div data-th-each="component : ${rightRegion.components}" data-th-remove="tag">
            <div data-portal-component="${component.path}" data-th-remove="tag"/>
        </div>
    </div>

</div>