<div>
    <div th:fragment="single (comment, last)" th:remove="tag">
        <li>
            <div class="singleComment">
                <div class="top">
                    <span class="name" th:text="${ comment.userName }"></span>
                    <time class="time" th:text="${ comment.time }"></time>
                    <button class="edit" th:attr="data-key=${ comment._id }" th:if="${ userId == comment.userId }">
                        <div th:replace="/site/parts/comment-field/svgicon/icon_fragments::edit_icon ( '20px' )"></div>
                    </button>
                </div>
                <p class="text" th:text="${ comment.text }"></p>
                <div class="bottom">
                    <!--/* Setting the parent attr to id so its becomes a child element */-->
                    <button class="respond" th:if="${ last }" th:text="${ locale.reply }" th:attr="data-parent=${ comment._id }">test</button>
                </div>
            </div>
        </li>
    </div>
</div>