<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module>
  <display-name>EXP Superhero module</display-name>
  <info>Superhero theme</info>
  <url></url>
  <vendor>
    <name>Michael Lazell</name>
    <url>http://www.enonic.com</url>
  </vendor>
  <dependencies system-min-version="5.0.0" system-max-version="5.1.0"/>
  <config>
    <input type="TextLine" name="google-ua">
      <label>Google Analytics UA</label>
      <occurrences minimum="0" maximum="1"/>
    </input>
  </config>
  <!--<x-data mixin="menu-item"/>-->
</module>