<aside id="latestDiscussion">
    <h3 th:if="${ headline }" th:text="${ headline }"></h3>
    <div class="comment" th:each="comment : ${ comments }">
        <div th:if="${comment}" th:remove="tag">
            <b class="name" th:text="${ comment.userName }"></b>
            <time class="time" th:text="${ comment.time }"></time>
            <q class="text">[[${ comment.text }]]</q>
        </div>
        <span>[[${ local.on }]] <a th:href="${ comment.contentUrl }" th:text="${ comment.contentName }"></a></span>
    </div>
</aside>